@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Muncles, it's time to unite as munclettes and put our differences asside.</p>

</div>
